.traffic-light-box {
	float: left;
}

.traffic-light-vis {
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-flex-pack: distribute;
	/*  -webkit-justify-content: space-around;
  justify-content: space-around;*/
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	/*  -webkit-align-content: space-around;*/
	-ms-flex-line-pack: distribute;
	/*  align-content: space-around;*/
}

.traffic-light-vis .metric-container {
	text-align: center;
	padding: 1em;
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	width: 100%;
	position: relative;
}

.traffic-light-legend {
	text-align: center;
}

.traffic-light-vis .traffic-light-container {
	margin: 0 auto;
}

.traffic-light-vis .traffic-light-container .traffic-light {
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: #333;
}

.traffic-light-vis .traffic-light-container .traffic-light .light {
	margin: 16%;
	width: 68%;
	height: 25.6%;
	border-radius: 50%;
	background-color: #000;
}

.traffic-light-vis .traffic-light-container .traffic-light .light.on.red	{
	background-color: #f13832;
}

.traffic-light-vis .traffic-light-container .traffic-light .light.on.yellow	{
	background-color: #f0ad4e;
}

.traffic-light-vis .traffic-light-container .traffic-light .light.on.green	{
	background-color: #5acc5a;
}

.traffic-light-vis .traffic-light-container .traffic-light .one.light.red	{
	background-color: #f13832;
}

.traffic-light-vis .traffic-light-container .traffic-light .one.light.yellow	{
	background-color: #f0ad4e;
}

.traffic-light-vis .traffic-light-container .traffic-light .one.light.green	{
	background-color: #5acc5a;
}

.rotate-horizontal {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.traffic-light-vis .traffic-light-container .traffic-light .light.two-state	{
	margin-left: 16%;
	margin-right: 16%;
	margin-top: 13%;
	height: 38.4%;
}

.traffic-light-vis .traffic-light-container .traffic-light .light.one-state	{
	margin-left: 16%;
	margin-right: 16%;
	height: 69%;
}

.traffic-light-vis .traffic-light-container .traffic-light.only-lights	{
	background-color: transparent;
}