<div class="form-group">
  <label>Traffic light width - {{ vis.params.width }}px</label>
  <input type="range" ng-model="vis.params.width" class="form-control" min="20" max="200"/>
</div>
<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.onlyOneLight" ng-disabled="vis.params.redAndGreenOnly">
    One state traffic light
  </label>
</div>
<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.redAndGreenOnly" ng-disabled="vis.params.onlyOneLight">
    Two state traffic light
  </label>
</div>
<div class="form-group">
  <label>Red threshold <span ng-bind-template="({{!vis.params.invertScale ? 'below':'above'}} this value will be red)"></span></label>
  <input type="number" ng-model="vis.params.redThreshold" class="form-control"/>
</div>
<div class="form-group">
  <label>Green threshold <span ng-bind-template="({{!vis.params.invertScale ? 'above':'below'}} this value will be green)"></span></label>
  <input type="number" ng-model="vis.params.greenThreshold" class="form-control"/>
</div>
<div class="form-group">
  <label>Max</label>
  <input type="number" ng-model="vis.params.max" class="form-control"/>
</div>
<!--div class="form-group">
  <label>Title</label>
  <input type="text" ng-model="vis.params.title" class="form-control"/>
</div-->
<div class="form-group">
  <label>Traffic light per line {{ vis.params.numberOfLights }}</label>
  <input type="range" ng-model="vis.params.numberOfLights" class="form-control" min="1" max="50"/>
</div>
<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.invertScale">
    Invert scale
  </label>
</div>
<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.rotateHorizontaly">
    Rotate horizontaly
  </label>
</div>
<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.showLabels">
    Show Labels
  </label>
</div>
<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.showValues">
    Show Values
  </label>
</div>
<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.onlyLights">
    Show Only Lights
  </label>
</div>