<div ng-controller="TrafficLightVisController" class="traffic-light-vis">
	<div class="traffic-light-vis" ng-repeat="line in lines">
	    <div ng-repeat="metric in line" class="traffic-light-box" ng-style="{'width':percentperlight+'%'}">
	        <div class="traffic-light-container" ng-style="{'width': vis.params.width+'px', 'height': ((vis.params.redAndGreenOnly ? 1.7688 : vis.params.onlyOneLight ? 1.03 : 2.68) * vis.params.width)+'px'}" ng-class="{'rotate-horizontal': vis.params.rotateHorizontaly}">
	            <div class="traffic-light" ng-class="{'only-lights': vis.params.onlyLights}">
	                <div class="light red" ng-if="!vis.params.onlyOneLight" ng-class="{'on':
						(!vis.params.invertScale && ((metric.value <= vis.params.redThreshold) || (metric.value >= vis.params.max)))
						|| (vis.params.invertScale && metric.value >= vis.params.redThreshold), 'two-state': vis.params.redAndGreenOnly}">
					</div>
	                <div ng-if="!vis.params.redAndGreenOnly && !vis.params.onlyOneLight" class="light yellow" ng-class="{'on': (!vis.params.invertScale && metric.value > vis.params.redThreshold && metric.value < vis.params.greenThreshold) || (vis.params.invertScale && metric.value < vis.params.redThreshold && metric.value > vis.params.greenThreshold) }"></div>
					<div ng-if="vis.params.onlyOneLight" class="one light" ng-class="{
					 	'red':
							(!vis.params.invertScale && ((metric.value <= vis.params.redThreshold) || (metric.value >= vis.params.max)))
							|| (vis.params.invertScale && metric.value >= vis.params.redThreshold),
						'yellow': 
							 (!vis.params.invertScale && metric.value > vis.params.redThreshold && metric.value < vis.params.greenThreshold) 
							 || (vis.params.invertScale && metric.value < vis.params.redThreshold && metric.value > vis.params.greenThreshold),
						'green':
							(!vis.params.invertScale && metric.value >= vis.params.greenThreshold && metric.value < vis.params.max)
							|| (vis.params.invertScale && metric.value <= vis.params.greenThreshold),
						'one-state': vis.params.onlyOneLight
						}"></div>
				  	<div ng-if="!vis.params.onlyOneLight" class="light green" ng-class="{'on':
					(!vis.params.invertScale && metric.value >= vis.params.greenThreshold && metric.value < vis.params.max)
					|| (vis.params.invertScale && metric.value <= vis.params.greenThreshold), 'two-state': vis.params.redAndGreenOnly }"></div>
	            </div>
	        </div>
	        <div ng-if="vis.params.showLabels || vis.params.showValues" class="traffic-light-legend">
	        	<span ng-if="vis.params.showLabels">{{metric.label}}</span>
	        	<span ng-if="vis.params.showLabels && vis.params.showValues">: </span>
	        	<span ng-if="vis.params.showValues">{{metric.value | number:1}}</span>
	        </div>
	        <div ng-if="metric.bucketField !== null" class="traffic-light-legend">
   	        	<span >{{metric.bucketField}}</span>  	
	        </div>
	    </div>
	</div>
</div>
