<table>
  <thead>
    <tr class="tooltip-label">
      <th scope="col">Campo</th>
      <th scope="col">Valor</th>
      <th scope="col">{{metricCol.label}}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tooltip-value" ng-repeat="row in rows track by $index">
      <td><span ng-bind-html="row.spacer"></span>{{row.field}}</td>
      <td class="row-bucket">{{row.bucket}}</td>
      <td>{{row.metric}}</td>
    </tr>
  </tbody>
</table>
