<div class="kuiSideBarSection">
  <div class="form-group">
    <div class="kuiSideBarSectionTitle">
      <div class="kuiSideBarSectionTitle__text">
        Pie Settings
      </div>
    </div>

    <div class="kuiSideBarFormRow">
      <label class="kuiSideBarFormRow__label" for="isDonut">
        Donut
      </label>
      <div class="kuiSideBarFormRow__control">
        <input id="isDonut" name="isDonut" type="checkbox" value="{{isDonut}}"
               ng-checked="vis.params.isDonut"
               ng-model="vis.params.isDonut"
        >
      </div>
    </div>
    
    <div class="kuiSideBarFormRow">
	    <label class="kuiSideBarFormRow__label" for="addLegend">
	      Show Legend
	    </label>
	    <div class="kuiSideBarFormRow__control">
	      <input class="kuiCheckBox" id="addLegend" type="checkbox" ng-model="vis.params.addLegend">
	    </div>
	  </div>
  </div>

  <vislib-basic-options></vislib-basic-options>
  
  <div class="kuiSideBarFormRow">
      <label class="kuiSideBarFormRow__label" for="showCursor">
        Disable Click And Filter
      </label>
      <div class="kuiSideBarFormRow__control">
        <input class="kuiCheckBox" id="showCursor" type="checkbox" ng-model="vis.params.disableClickAndFilter">
      </div>
   </div>
  
</div>

<!-- Labels -->
<div class="kuiSideBarSection">
  <div class="form-group">
    <div class="kuiSideBarSectionTitle">
      <div class="kuiSideBarSectionTitle__text">
        Labels Settings
      </div>
    </div>

    <div class="kuiSideBarFormRow">
      <label class="kuiSideBarFormRow__label" for="showLabels">
        Show Labels
      </label>
      <div class="kuiSideBarFormRow__control">
        <input class="kuiCheckBox" id="showLabels" type="checkbox" ng-model="vis.params.labels.show">
      </div>
    </div>

    <div class="kuiSideBarFormRow">
      <label class="kuiSideBarFormRow__label" for="showLastLevel">
        Show Top Level Only
      </label>
      <div class="kuiSideBarFormRow__control">
        <input class="kuiCheckBox" id="showLastLevel" type="checkbox" ng-model="vis.params.labels.last_level">
      </div>
    </div>

    <div class="kuiSideBarFormRow">
      <label class="kuiSideBarFormRow__label" for="showValues">
        Show Values
      </label>
      <div class="kuiSideBarFormRow__control">
        <input class="kuiCheckBox" id="showValues" type="checkbox" ng-model="vis.params.labels.values">
      </div>
    </div>

    <div class="kuiSideBarFormRow">
      <label class="kuiSideBarFormRow__label" for="truncateLabels">
        Truncate
      </label>
      <div class="kuiSideBarFormRow__control">
        <input
          id="truncateLabels"
          class="kuiInput kuiSideBarInput"
          type="number"
          ng-model="vis.params.labels.truncate"
        >
      </div>
    </div>
  </div>
</div>
