<div ng-controller="KbnTableVisController" class="table-vis">
  <div ng-if="!hasSomeRows && hasSomeRows !== null" class="table-vis-error">
    <h2 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h2>
    <h4>Nenhum resultado encontrado</h4>
  </div>

  <div ng-if="tableGroups" class="table-vis-container">
    <kbn-agg-table-group
      group="tableGroups"
      export-title="visState.title"
      per-page="visState.params.perPage"
      sort="sort"
      show-total="visState.params.showTotal"
      total-func="visState.params.totalFunc">
    </kbn-agg-table-group>
  </div>
</div>
