<td>
  <div
    data-cell-content
    class="cell-hover"
  >
    <span ng-if="!allowTableResultExport" class="table-cell-filter">
      <span
        ng-click="onFilterClick($event, false)"
        class="fa fa-search-plus"
        tooltip="Filter for value"
        tooltip-append-to-body="1"
      ></span>

      <span
        ng-click="onFilterClick($event, true)"
        class="fa fa-search-minus"
        tooltip="Filter out value"
        tooltip-append-to-body="1"
      ></span>
    </span>
  </div>
</td>
