<form role="form">
  <h2 class="kuiLocalDropdownTitle">
    Options
  </h2>

  <div class="kuiLocalDropdownSection">
    <label class="kuiCheckBoxLabel">
      <input
        class="kuiCheckBox"
        type="checkbox"
        ng-model="model.darkTheme"
        ng-checked="model.darkTheme"
        data-test-subj="dashboardDarkThemeCheckbox"
      >

      <span class="kuiCheckBoxLabel__text">
        Use dark theme
      </span>
    </label>
    <label class="kuiCheckBoxLabel">
      <input
        class="kuiCheckBox"
        type="checkbox"
        ng-model="model.useMargins"
        ng-checked="model.useMargins"
        data-test-subj="dashboardMarginsCheckbox"
      >
      <span class="kuiCheckBoxLabel__text">
        Use margins between panels
      </span>
    </label>
    <label class="kuiCheckBoxLabel">
      <input
        class="kuiCheckBox"
        type="checkbox"
        ng-model="model.hidePanelTitles"
        ng-checked="model.hidePanelTitles"
        data-test-subj="dashboardPanelTitlesCheckbox"
      >
      <span class="kuiCheckBoxLabel__text">
        Hide all panel titles
      </span>
    </label>
    <label class="kuiCheckBoxLabel">
      <input
        class="kuiCheckBox"
        type="checkbox"
        ng-model="model.allowTableResultExport"
        ng-checked="model.allowTableResultExport"
        data-test-subj="dashboardTableResultCheckbox"
      >
      <span class="kuiCheckBoxLabel__text">
        Allow table result export on dash shared
      </span>
    </label>
  </div>
</form>
