<div class="kuiSideBarSection">
  <div class="form-group">
    <div class="kuiSideBarSectionTitle">
      <div class="kuiSideBarSectionTitle__text">
        Layer Settings
      </div>
    </div>

    <div class="kuiSideBarFormRow">
      <label class="kuiSideBarFormRow__label" for="regionMap">
        Vector map
      </label>
      <div class="kuiSideBarFormRow__control">
        <select
          id="regionMap"
          class="kuiSelect kuiSideBarSelect"
          ng-model="vis.params.selectedLayer"
          ng-options="layer.name for layer in collections.vectorLayers track by layer.layerId"
          ng-change="onLayerChange()"
        ></select>
      </div>
    </div>

    <div class="kuiSideBarFormRow">
      <label class="kuiSideBarFormRow__label" for="joinField">
        Join field
      </label>
      <div class="kuiSideBarFormRow__control">
        <select id="joinField"
          class="kuiSelect kuiSideBarSelect"
          ng-model="vis.params.selectedJoinField"
          ng-options="field.description for field in vis.params.selectedLayer.fields track by field.name"
        >
          <option value=''>Select</option></select>
      </div>
    </div>
    <div class="kuiSideBarFormRow">
      <label class="kuiSideBarFormRow__label" for="displayWarnings">
        Display warnings
        <kbn-info info="Turns on/off warnings. When turned on, warning will be shown for each term that cannot be matched to a shape in the vector layer based on the join field. When turned off, these warnings will be turned off."></kbn-info>
      </label>

      <div class="kuiSideBarFormRow__control">
        <input id="displayWarnings" type="checkbox" ng-model="vis.params.isDisplayWarning">
      </div>
    </div>
    <div class="kuiSideBarFormRow">
      <label class="kuiSideBarFormRow__label" for="onlyShowMatchingShapes">
        Show all shapes
        <kbn-info info="Turning this off only shows the shapes that were matched with a corresponding term."></kbn-info>
      </label>
      <div class="kuiSideBarFormRow__control">
        <input id="onlyShowMatchingShapes" type="checkbox" ng-model="vis.params.showAllShapes">
      </div>
    </div>
    <div class="kuiSideBarFormRow">
      <label class="kuiSideBarFormRow__label" for="disableClickAndFilter">
        Disable Click And Filter
      </label>
      <div class="kuiSideBarFormRow__control">
        <input id="disableClickAndFilter" type="checkbox" ng-model="vis.params.disableClickAndFilter">
      </div>
    </div>
  </div>
</div>

<div class="kuiSideBarSection">

  <div class="kuiSideBarSectionTitle">
    <div class="kuiSideBarSectionTitle__text">Style settings</div>
  </div>
  <div class="kuiSideBarFormRow" >
    <label class="kuiSideBarFormRow__label" for="colorSchema">
      Color Schema
    </label>
    <div class="kuiSideBarFormRow__control">
      <select
        id="colorSchema"
        class="kuiSelect kuiSideBarSelect"
        ng-model="vis.params.colorSchema"
        ng-options="mode for mode in collections.colorSchemas"
      ></select>
    </div>
  </div>
  <div class="kuiSideBarFormRow" >
    <label class="kuiSideBarFormRow__label" for="outlineWeight">
      Outline weight
    </label>
    <div class="kuiSideBarFormRow__control">
      <input
        id="outlineWeight"
        class="kuiInput kuiSideBarInput"
        type="number"
        ng-model="vis.params.outlineWeight"
      >
    </div>
  </div>
  <div class="kuiSideBarFormRow">
    <label class="kuiSideBarFormRow__label" for="invertColors">
      Reverse Color Schema
    </label>
    <div class="kuiSideBarFormRow__control">
      <input id="invertColors" type="checkbox" ng-model="vis.params.invertColors">
    </div>
  </div>
  <div class="kuiSideBarFormRow">
    <label class="kuiSideBarFormRow__label" for="setColorRangeLegend">
      Set Color Range Legend
    </label>
    <div class="kuiSideBarFormRow__control">
      <input id="setColorRangeLegend" type="checkbox" ng-model="vis.params.setColorRangeLegend">
    </div>
  </div>

  <div id="colorRangeLegend" ng-show="vis.params.setColorRangeLegend" class="kuiSideBarCollapsibleSection">
    <div class="kuiSideBarSection">
      <table class="vis-editor-agg-editor-ranges form-group" ng-show="vis.params.colorsRange.length">
        <tr>
          <th scope="col">
            <label id="optionsCustomRangeFrom">From</label>
          </th>
          <th scope="col" colspan="2">
            <label id="optionsCustomRangeTo">To</label>
          </th>
        </tr>

        <tr ng-repeat="range in vis.params.colorsRange track by $index">
          <td>
            <input
              aria-labelledby="optionsCustomRangeFrom"
              ng-model="range.from"
              type="number"
              class="form-control"
              name="range.from"
              greater-or-equal-than="{{getGreaterThan($index)}}"
              required
              step="any" />
          </td>
          <td>
            <input
              aria-labelledby="optionsCustomRangeTo"
              ng-model="range.to"
              type="number"
              class="form-control"
              name="range.to"
              greater-or-equal-than="{{range.from}}"
              required
              step="any" />
          </td>
          <td>
            <button
              type="button"
              ng-click="removeRange($index)"
              ng-show="vis.params.colorsRange.length > 1"
              class="kuiButton kuiButton--danger kuiButton--small">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </table>

      <div class="hintbox" ng-show="!vis.params.colorsRange.length">
        <p>
          <i class="fa fa-danger text-danger"></i>
          <strong>Required:</strong> You must specify at least one range.
        </p>
      </div>

      <div
        ng-click="addRange()"
        class="kuiButton kuiButton--primary kuiButton--fullWidth">
        Add Range
      </div>
    </div>
  </div>

</div>

<wms-options options="vis.params.wms"></wms-options>
