<div ng-if="showNoResultsMessage()" class="text-center visualize-error visualize-chart">
  <div class="item top"></div>
  <div class="item">
    <h2 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h2>
    <h4>Nenhum resultado encontrado</h4>
  </div>
  <div class="item bottom"></div>
</div>
<div
  ng-hide="showNoResultsMessage()"
  class="vis-container {{getVisContainerClasses()}}"
  tabindex="0"
>
  <span ng-if="!vis.type.isAccessible" class="kuiScreenReaderOnly">
    {{vis.type.title}} visualization, not yet accessible
  </span>
  <div
    aria-hidden="{{!vis.type.isAccessible}}"
    ng-style="loadingStyle"
    ng-class="{ loading: vis.type.requiresSearch && searchSource.activeFetchCount > 0 }"
    class="visualize-chart"></div>
  <visualize-legend ng-if="addLegend"></visualize-legend>
</div>
<visualize-spy
  ng-if="showSpyPanel"
  vis="vis"
  vis-element="visElement"
  search-source="searchSource"
  ui-state="uiState"
></visualize-spy>
